body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffe4c4;
  padding: 30px;
  color: #283740;
  background-image: url('./img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #f3f1f1;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #06bdbd;
  color: #f3f1f1;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
  opacity: 0.8;
  margin-right: 10px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #808080;
}

.todo {
  background-color: #ffffff;
  box-shadow: 0 3px 5px darkgray;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final-button {
  background-color: #71b971;
}

.delete-button {
  background-color: #e40606;
}

.todo-form {
  padding-bottom: 2rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.filter, .search {
  border-bottom: 1px solid #808080;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;   /* flex: valores de flex-grow, flex-shrink, felx-basis  */
}